<div class="container-fluid mt-2">
  <div class="row justify-content-center">
    <a href="https://gitlab.com/nubebytes-public/demos" target="_blank">
      <h5 class="text-light">
        https://gitlab.com/nubebytes-public/demos
      </h5>
    </a>
   
  </div>
  <div class="row">
    <div class="col col-12 col-lg-6">
      <div class="card my-3">
        <div class="card-body" style="height:300px;">
          <div class="card-title">Vibración Superior</div>
          <div class="chart-container dark">
            <ngx-charts-line-chart *ngIf="initialLoading"
                                   [scheme]="'cool'"
                                   yScaleMin="-1.5"
                                   yScaleMax="1.5"
                                   showRefLines="true"
                                   [animations]="false"
                                   [referenceLines]="referenceLines1"
                                   [xAxis]="true"
                                   [yAxis]="true"
                                   [xAxisTickFormatting]="dateTickFormatting"
                                   yAxisLabel="(radial) cm/s"
                                   [showYAxisLabel]="true"
                                   [results]="data1">
            </ngx-charts-line-chart>
          </div>

        </div>

      </div>
      <div class="card my-3">
        <div class="card-body" style="height:300px;">
          <div class="card-title">Vibración Superior (Absoluta)</div>
          <div class="gauge-container dark">
            <ngx-charts-gauge *ngIf="initialLoading"
                              [scheme]="'cool'"
                              min="0"
                              max="1"
                              [legend]="true"
                              legendTitle="(radial) cm/s"
                              units="cm/s"
                              [results]="barData1">
            </ngx-charts-gauge>
          </div>
        </div>
      </div>

    </div>
    <div class="col col-12 col-lg-6">
      <div class="card my-3">
        <div class="card-body" style="height:300px;">
          <div class="card-title">Vibración Inferior</div>
          <div class="chart-container dark">
            <ngx-charts-line-chart *ngIf="initialLoading"
                                   [scheme]="'cool'"
                                   yScaleMin="-1.5"
                                   yScaleMax="2"
                                   showRefLines="true"
                                   [animations]="false"
                                   [referenceLines]="referenceLines2"
                                   [xAxis]="true"
                                   [yAxis]="true"
                                   [xAxisTickFormatting]="dateTickFormatting"
                                   yAxisLabel="(radial) cm/s"
                                   [showYAxisLabel]="true"
                                   [results]="data2">
            </ngx-charts-line-chart>
          </div>

        </div>

      </div>
      <div class="card my-3">
        <div class="card-body" style="height:300px;">
          <div class="card-title">Vibración Inferior (Absoluta)</div>
          <div class="gauge-container dark">
            <ngx-charts-gauge *ngIf="initialLoading"
                              [scheme]="'cool'"
                              min="0"
                              max="1.5"
                              [legend]="true"
                              legendTitle="(radial) cm/s"
                              units="cm/s"
                              [results]="barData2">
            </ngx-charts-gauge>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="position:fixed; bottom:5px;">
      <button class="btn btn-danger btn-raised" [disabled]="this.sampleFaultDataIx > this.sampleFaultData.length - 1" (click)="simulateFailData()">Simular Error</button>
  </div>

</div>
