
<div class="modal-body py-2 text-light">

  <ng-container *ngFor="let item of res.cases; let i = index">
    <ng-container [ngTemplateOutlet]="i == 0 ? bestSolution : otherSolution"
                  [ngTemplateOutletContext]="{item:item}">
    </ng-container>

  </ng-container>

  <ng-template #bestSolution let-item="item">
    <h5 class="text-light mt-1">Mejor solución</h5>
    <div class="card my-1">
      <div class="card-body">
        <h6>{{item.solution}}</h6>
        <div> <span> Calidad de la solución: {{ quality | number:'1.2-2'}}/5</span>
        <ngb-progressbar height="14px" max="5" [animated]="true" [value]="quality"></ngb-progressbar>
        </div>

      </div>
    </div>
    <textarea type="text" class="form-control" [(ngModel)]="yourSolution" placeholder="Introduce tu solución..." ></textarea>

    <h5 class="text-light mt-3">Otras soluciones</h5>
  </ng-template>

  <ng-template #otherSolution let-item="item">
    <div style="font-size:12px;">{{item.solution}}</div>
  </ng-template>

  <div class="text-right">
    <button class="btn btn-primary" [disabled]="!yourSolution" (click)="accept()">Aceptar</button>
    <button class="btn btn-primary" (click)="activeModal.dismiss()">
      Salir
    </button>
  </div>
</div>
