/* You can add global styles to this file, and also import other style files */
@import 'theme-variables';
/*Put values above*/
@import "node_modules/bootstrap-material-design/scss/core";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/roboto-v29-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''), url('/assets/fonts/roboto-v29-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/roboto-v29-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/roboto-v29-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/roboto-v29-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/roboto-v29-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/roboto-v29-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('/assets/fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/roboto-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/roboto-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/roboto-v29-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/roboto-v29-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''), url('/assets/fonts/roboto-v29-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/roboto-v29-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/roboto-v29-latin-500.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/roboto-v29-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/roboto-v29-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('/assets/fonts/roboto-v29-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''), url('/assets/fonts/roboto-v29-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/roboto-v29-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/roboto-v29-latin-500italic.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/roboto-v29-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/roboto-v29-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/roboto-v29-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''), url('/assets/fonts/roboto-v29-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/roboto-v29-latin-700.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/roboto-v29-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/roboto-v29-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}



.form-control:focus, .custom-file-control:focus {
  box-shadow: none; //fix for fezvrasta/bootstrap-material-design not overriding focus on form-controls (possible bootstrap and bootstrap-material-design mismatch)
}

$color-bg-darkest: #13141b;
$color-bg-darker: theme-color("dark");
$color-bg-dark: #232837;
$color-bg-med: #2f3646;
$color-bg-light: #455066;
$color-bg-lighter: #5b6882;

$color-text-dark: #72809b;
$color-text-med-dark: #919db5;
$color-text-med: theme-color("light");
$color-text-med-light: lighten(theme-color("light"), 10%);
$color-text-light: lighten(theme-color("light"), 20%);
$color-text-lighter: #fff;

html, .container, .container-fluid{
    background-color:$color-bg-darkest;
    color: $color-text-light;
}

.modal-body{
    background-color: $color-bg-light;
}

input, textarea{
    color: $color-text-light !important;
}

textarea{
    resize:none;
}

.modal-open{
    background-color:transparent;
}

.modal-bot {
height:100vh;
}

.modal-bot .modal-dialog{
    position:absolute;
    bottom:10px;
    right:0;
    left:0;
}

.card {
  background-color: theme-color("dark");
}

.card-title{
    font-weight:500;
}

.dark {
  /**
     * Backgrounds
     */

  background: $color-bg-darker;

  .ngx-charts {

    text {
      fill: $color-text-med;
    }

    .tooltip-anchor {
      fill: rgb(255, 255, 255);
    }

    .gridline-path {
      stroke: $color-bg-med;
    }

    .refline-path {
      stroke: $color-bg-light;
    }

    .reference-area {
      fill: #fff;
    }

    .grid-panel {
      &.odd {
        rect {
          fill: rgba(255, 255, 255, 0.05);
        }
      }
    }

    .force-directed-graph {
      .edge {
        stroke: $color-bg-light;
      }
    }

    .number-card {
      p {
        color: $color-text-light;
      }
    }

    .gauge {
      .background-arc {
        path {
          fill: $color-bg-med;
        }
      }

      .gauge-tick {
        path {
          stroke: $color-text-med;
        }

        text {
          fill: $color-text-med;
        }
      }
    }

    .linear-gauge {
      .background-bar {
        path {
          fill: $color-bg-med;
        }
      }

      .units {
        fill: $color-text-dark;
      }
    }

    .timeline {
      .brush-background {
        fill: rgba(255, 255, 255, 0.05);
      }

      .brush {
        .selection {
          fill: rgba(255, 255, 255, 0.1);
          stroke: #aaa;
        }
      }
    }

    .polar-chart .polar-chart-background {
      fill: rgb(30, 34, 46);
    }
  }

  .chart-legend {
    .legend-labels {
      background: rgba(255, 255, 255, 0.05) !important;
    }

    .legend-item {
      &:hover {
        color: #fff;
      }
    }

    .legend-label {
      &:hover {
        color: #fff !important;
      }

      .active {
        .legend-label-text {
          color: #fff !important;
        }
      }
    }

    .scale-legend-label {
      color: $color-text-med;
    }
  }

  .advanced-pie-legend {
    color: $color-text-med;

    .legend-item {
      &:hover {
        color: #fff !important;
      }
    }
  }

  .number-card .number-card-label {
    font-size: 0.8em;
    color: $color-text-med;
  }
}
